#cards{
@apply(--layout-vertical);
@apply(--layout-wrap);
width: 95% !important;
min-width: 95% !important;
box-sizing: border-box !important;
margin: 5px !important;
padding: 5px !important;
flex: 0 0 auto !important;
align: center;
}
.bgcolor-blue{
background-color: #4169E1;
}
.bgcolor-darkgrey{
background-color: #4A444B;
}
.bgcolor-lightgrey{
background-color: #E7ECE6;
}
.bgcolor-red{
background-color #FB2E01;
}
.color-blue{
color: #4169E1;
}
.color-darkgrey{
color: #4A444B;
}
.color-lightgrey{
color: #E7ECE6;
}
.color-red{
color #FB2E01;
}
.space{
margin: 1em;
}
.glue{
@apply(--layout-flex);
}
.stretch{
width: 100% !important;
}
.wide{
display: block;
}
.justified{
text-align: justify;
text-justify: inter-word;
padding: 5px;
}
a{
color: #4A444B;
}
body{
font-family: 'Comfortaa' !important;
}
paper-button{
margin: .5em;
}
paper-card + paper-card {
@apply(--layout-vertical);
@apply(--layout-wrap);
width: 95% !important;
min-width: 95% !important;
box-sizing: border-box !important;
margin: 5px !important;
padding: 5px !important;
flex: 0 0 auto !important;
align: center;
}
html /deep/ paper-fab[icon="thumb-up"] {
background: var(--paper-grey500);
}
paper-fab {
background-color: #4A444B !important;
position: absolute;
float: left;
top: 2.5em;
right: 1.6em;
z-index: 1;
}
paper-material {
word-wrap: break-word;
max-width: 100%;
margin: 1em;
}
paper-toolbar.blue {
background-color: #4169E1;
}
paper-toolbar + paper-toolbar {
margin-top: 20px;
}
pre {
font-family: 'Comfortaa' !important;
white-space: pre-wrap;       /* CSS 3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}